// => Navbar Animation Start

@keyframes slide-in {
  0% {
    width: 0;
    left: 0;
  }

  100% {
    width: 100%;
    left: 0;
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 0;
  }
}

// => Navbar Animation End

// => Main Animation Start

@keyframes slideFromUpMain {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// => Main Animation End


// => WeatherCard Animations Start

@keyframes cardInComingSlide {
  0% {
    opacity: 0;
    transform: translate(0, -40px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


@keyframes slideToUp {
  0% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
}

@keyframes slideFromUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -0);
  }
}

@keyframes slideFromDown {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}


@keyframes slideLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightToLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}


// => WeatherCard Animations End

// => WeatherWidget Animations Start

@keyframes slideLeftToRightWidget {
  0% {
    opacity: 0;
    transform: translate(-30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0)
  }
}

@keyframes slideRightToRightWidget {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0;
    transform: translate(30px, 0)
  }
}


// => WeatherWidget Animations End


// => Auth Page Animations Start

@keyframes slideUpToDownInAuth {
  0% {
    opacity: 0;
    transform: translate(0, -40px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideDownToUpOutAuth {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, -40px);
  }
}


// => Auth Page Animations End