@import "../../styles/variables";

.nav-logo {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1024px) {
    justify-content: flex-start;
  }

  .logo-text {
    color: #fff;
    font-family: $font-prompt, sans-serif;
    font-weight: 900;
    font-size: 38px;

    @media screen and (max-width: 480px) {
      font-size: 28px;
    }
  }
}

.nav-links {
  flex: 3;
  font-family: $font-prompt, sans-serif;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1350px) {
    flex: 1.5;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .nav-links-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .nav-links-item {

      a {
        color: #fff;
      }
    }
  }
}

.nav-user-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex: 1;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  .login-link {

    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-family: $font-prompt;
    font-size: 19px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  .signout-btn {
    padding: 7px 25px;
    border-radius: 10px;
  }
}

.mobil-menu-btn {
  display: none;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    display: flex;
    color: white;
  }

  .mobil-menu-btn {
    border: none;

    &:hover {
      background-color: inherit !important;
      color: inherit !important;
    }
  }
}