.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media screen and (max-width: 1200px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 840px) {
    scale: 1.2;
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  .navbar-container {
    padding: 15px 30px;
    height: 100px;
    display: flex;
    flex: 0 0 auto;

    @media screen and (max-width: 864px) {
      padding: 0 35px;
    }
  }

  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
    margin: 0 25px;
    margin-top: 20px;
  }

  .footer-container {
    height: 100px;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;

    @media screen and (max-width: 864px) {
      height: 200px;
    }
  }

  .toastify-bar {
    top: 100px;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;
    visibility: hidden;
  }
}