@import '../../styles/variables';
@import '../../styles/animation';

.card-container {
  width: 115px;
  height: 500px;
  background-color: transparent;
  border-radius: 25px;
  transition: width .6s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 0;
  font-family: $font-prompt;
  position: relative;
  overflow: hidden;
  box-shadow: -10px 10px 25px;
  transform: translate(0, -40px);
  opacity: 0;
  animation: 0.4s ease-in forwards cardInComingSlide;

  @media screen and (max-width: 864px) {
    width: 75%;
    height: 100px;
    margin: 0 25px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: height 0.3s ease-in-out;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    margin: 0;
  }


  .card-video-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    scale: 1.01;
  }


  .card-date-day {
    position: absolute;
    left: 46%;
    top: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color: white;
    transform: translateX(-50%);
    height: 15%;

    @media screen and (max-width: 480px) {
      left: 47%;
    }

  }

  .card-date-full {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: clamp(25px, 4vw, 35px);
    color: white;
    height: 15%;
    width: 100%;

    @media screen and (max-width: 864px) {
      top: 16px;
      right: 0;
    }

    // @media screen and (max-width: 480px) {
    //   right: 20%;
    // }
  }

  .card-icon {
    margin-top: 30px;
    height: 45%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media screen and (max-width: 864px) {
      margin: 0;
      order: 2;
    }
  }

  .card-temperature {
    height: 30%;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    transition: font-size .6s ease-in-out, margin-top 0.3s ease-in-out;

    @media screen and (max-width: 864px) {}
  }
}

.active {
  width: 400px;
}

.mobil-active {
  height: 180px;
}

.slide-to-up-animation {
  animation: 0.4s ease-in-out forwards slideToUp;
}

.slide-from-up-animation {
  animation: 0.2s ease-in-out forwards slideFromUp;
}

.slide-from-down-animation {
  animation: 0.4s ease-in-out 0.3s forwards slideFromDown;
}

.slide-to-down-animation {
  animation: 0.2s ease-in-out forwards slideToDown;
}