@import '../../styles/variables';

.profile-container {
  width: 100%;
  height: 100%;
  font-family: $font-prompt, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;



  .profile-form-container {
    max-width: 800px;
    width: 100%;
    margin: 0 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    background-color: #fff;

    .profile-title {
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .full-name-wrapper {
      display: flex;
      gap: 10px;

      .first-name,
      .last-name {
        flex: 1;
      }
    }

    .profile-btn {
      border: 1px solid #000;
      color: #000;
      width: 230px;
      margin: 0 auto;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .password-form-container {
    max-width: 800px;
    width: 100%;
    margin: 0 30px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    background-color: #fff;

    .password-title {
      font-size: 42px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    .password-wrapper {
      display: flex;
      gap: 10px;

      .password,
      .re-password {
        flex: 1;
      }
    }

    .password-btn {
      border: 1px solid #000;
      color: #000;
      width: 230px;
      margin: 0 auto;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}