@import '../../styles/variables';

.au-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 40px;
  font-family: $font-prompt;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 23px;
  background-color: #fff;
  color: #000;

  .au-main-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .au-main-text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    text-indent: 35px;
  }

  .au-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .au-content-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .au-sub-title {
        font-size: 24px;
        font-weight: 600;
      }

      .au-sub-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 23px;
        text-indent: 35px;
      }
    }
  }
}